@font-face {
    font-family: "plaak-light";
    src: url("Fonts/Plaak\ -\ 26-Ney-Light-205TF.ttf");
  }
  @font-face {
    font-family: "plaak-regular";
    src: url("Fonts/Plaak\ -\ 36-Ney-Regular-205TF.ttf");
  }
  @font-face {
    font-family: "plaak-bold";
    src: url("Fonts/Plaak\ -\ 46-Ney-Bold-205TF.ttf");
  }
  @font-face {
    font-family: "plaak-heavy";
    src: url("Fonts/Plaak\ -\ 56-Ney-Heavy-205TF.ttf");
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }


  body {
    font-family: "plaak-light", sans-serif;
  }

  .main-section {
    /* border: 5px solid black; */
    height: 1220px;
    width: auto;
  }

/* carousel */

  .carousel-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .image-slide {
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 2s ease-in-out;
    opacity: 0;
  }
  
  .image-slide:first-child {
    opacity: 1;
  }  
/* navbar */

  nav {
    background-color:transparent;
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    opacity: 1;
    height: 75px;
  }

 nav:hover {
    background-color: #f4f3f3;
  } 

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
  }

   .nav-logo {
    padding: 10px;
  } 
  
  .nav-buttons {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    padding: 15px;
  }
  
  .hamburger-button {
    background-color: transparent;
    color:  #333;
    border: none;
    cursor: pointer;
    font-family: "plaak-bold";

  }

  .hamburger-button-triangle {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
    display: inline-block;
  }

  .hamburger-button-agency {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
    display: inline-block;
  }
  
  .newPosition {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
    display: inline-block;
  }

  .language-button-container {
    margin-right: 60px;
    display: flex;
  }
  .language-button {
    font-weight: bold;
    border: none;
    background-color: transparent;
    font-family: "plaak-bold";
  }

  
  .language-button a {
    background-color: transparent;
    color: #1d1d1b;
    padding: 10px 15px;
    text-decoration: none;
  }
  
  .language-button a:hover {
    /* background-color: #333; */
    color: #1d1d1b;
  }
  
  .language-button-span {
    padding: 5px;
  }
  #overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 998;
  }
  
  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d1d1b;
    font-size: 36px;
    letter-spacing: -2.3px;
    box-sizing: border-box;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-spacing: -1px;
  }

  .nav-menu ul {
    list-style: none;
    padding: 0;
  }
  
  .nav-menu ul li {
    margin-bottom: 20px;
  }
  
  .nav-menu ul li a {
    color:#f4f3f3;
    text-decoration: none;
    text-align: center;
  }

  .nav-menu-a {
    font-size: 15px;
    letter-spacing: -0.4px;
    margin-top: -12px;
  }

  .nav-menu-a:hover {
    font-size: 15.8px;
    letter-spacing: 0.8px;
    transition: 0.5s ease-in-out;
  }
  .nav-menu-b:hover {
    font-size: 38px;
    letter-spacing: 1px;
    transition: 0.5s ease-in-out;
  }

  .nav-menu ul li a:hover {
    color: #ffffff;
  }
  
/* textbar */

  .textbar {
    position: relative;
    height: 20px;
    align-items: center;
    overflow: hidden;
    background-color:#1d1d1b;
    padding: 4px;
    /* opacity: 0.9; */
  }
  
  .textbar-text {
    position: relative;
    /* margin-top: 8px; */
    /* margin-bottom: 8px; */
    color: #f4f3f3;
    font-size: 9px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 0.3px;
  }

.animate {
    animation: move-left 28s linear infinite; 
  }
  
  @keyframes move-left {
    0% {
      right: 0;
    }
    100% {
      right: calc(100vw - 100px);
    }
  }
  
/* main tittle */

.main-tittle {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 230px;
    line-height: 1.3;
  }
  
  .main-tittle h1 {
    position: relative;
    font-family: "plaak-light";
    font-size: 80px;
    color: #cbb921;
    mix-blend-mode: exclusion;
    font-weight: 205;
  }
  
  .main-tittle span {
    position: relative;
    font-family: "plaak-light";
    font-size: 20px;
    color: #cbb921;
    mix-blend-mode: exclusion;
    font-weight: 205;
  }